<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../css/ionic.css">
  </head>
  <body ng-app='ionicApp'>
    <div ng-controller="index">
      <p>{{name}}</p>
      <ion-header-bar align-title="center" class="bar-positive">
        <div class="buttons">
          <button class="button" ng-click="doSomething()">左侧按钮</button>
        </div>
        <h1 class="title">Title!</h1>
        <div class="buttons">
          <button class="button">右侧按钮</button>
        </div>
      </ion-header-bar>

      <ion-content  >
        <ion-refresher
          pulling-text="下拉刷新..."
          on-refresh="doRefresh()">
        </ion-refresher>
        <ion-list>
          <ion-item ng-repeat="item in items"></ion-item>
        </ion-list>
      </ion-content>

      <ion-footer-bar align-title="left" class="bar-assertive">
        <div class="buttons">
          <button class="button">左侧按钮</button>
        </div>
        <h1 class="title">Title!</h1>
        <div class="buttons" ng-click="doSomething()">
          <button class="button">右侧按钮</button>
        </div>
      </ion-footer-bar>
    </div>
    <script src="../js/ionic.bundle.js"></script>
    <script>
      var app = angular.module("ionicApp", ["ionic"]);
      app.controller("index", function($scope){
        $scope.name = "xialie"
      })
    </script>
  </body>
</html>
