<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <p>Welcome to registor</p>
    <form action="users/registor" method="post">
		username:<input type="text" name="username" value="">
		<br/>
		password:<input type="text" name="pwd" value="">
		<br/>
		<input type="submit" value="提交">
	</form>
  </body>
</html>
