<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
     <form action="/comm/talk" method="post">
        标题：<input type="text" name= "title">
        内容：<input type="text" name= "val">
        <input type="submit" value="评论" >
     </form>
  </body>
  
</html>
