<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>你好啊aaa</h1>
    <img src="/images/1.jpg" alt="">
    <p></p>
    <form action="/users/login" method="post">
	username:<input type="text" name="username" value="">
	<br/>
	password:<input type="text" name="pwd" value="">
	<br/>
	<input type="submit" value="提交">
    </form>
  </body>
</html>